@import '../../../colors';

$button-height: 32px;
$input-height: 32px;
$font-size: 14px;
$border-radius: 6px;

.define-scope {
    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

.alignment-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#conformanceLevelSelector {
    display: flex;
    flex-direction: column;
    /* Asegura que el contenido se apile verticalmente */
    align-items: center;
    /* Alinea el contenido horizontalmente al centro */
    text-align: center;

    p {
        margin-bottom: 10px;
        /* Ajusta el margen inferior si es necesario */
    }

    .level-container {
        margin-bottom: 15px;
        border: 2px solid $primary-color;
        background-color: $primary-color;
        border-radius: $border-radius;
        overflow: hidden;
        display: inline-flex;
        /* Cambia a inline-flex si necesitas que sea más flexible */
        align-items: center;
    }

    .conformanceLevels {
        display: flex;
        /* Cambia a flex para mejorar la alineación */
        align-items: center;
        justify-content: center;
        height: $button-height;
        padding: 0 10px;
        border: none;
        cursor: pointer;
        font-size: $font-size;
        background-color: $secondary-color;
        color: $primary-color;
        font-style: italic;

        &.selected {
            background-color: $primary-color;
            color: $secondary-color;
            font-style: normal;
        }

        &:hover {
            background-color: $intermediate-color;
            color: $secondary-color;
            font-style: italic;
        }
    }
}

#extensionScopeInputList {
    .scopeInput {
        margin-bottom: 10px;

        .inputWrapper {
            display: flex;
            align-items: center;

            span {
                cursor: pointer;
                color: $primary-color;
                font-size: $font-size;
                margin-right: 8px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .icon {
                margin-left: 8px;
                height: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;

                &.edit:hover {
                    filter: drop-shadow(0 0 1px $primary-color) brightness(1.1);
                }

                &.delete:hover {
                    filter: drop-shadow(0 0 1px $red-color) brightness(1.1);
                }
            }
        }
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    .W3Report {
        margin-top: 10px;
        display: flex;
        align-items: center;
        background-color: $primary-color;
        padding: 6px 12px;
        border: 2px solid $primary-color;
        border-radius: $border-radius;
        color: $secondary-color;
        cursor: pointer;
        font-size: $font-size;

        &:hover {
            background-color: $intermediate-color;
            color: $secondary-color;
            font-style: italic;
        }

        input {
            display: none;
        }
    }
}

.dropdownBtn {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-top: -14px;
    position: relative;
    text-align: center;

    .dropdownHead {
        background-color: $secondary-color;
        border: 2px solid $primary-color;
        border-radius: $border-radius;
        color: $primary-color;
        width: 150px;
        height: $button-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        cursor: pointer;
        font-size: $font-size;
        margin-top: -6px;

        &:hover {
            background-color: $intermediate-color;
            color: $secondary-color;
            font-style: italic;
        }

        &.active {
            background-color: $intermediate-color;
            color: $secondary-color;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        img {
            height: 18px;
            display: inline-block;
            cursor: pointer;
        }
    }

    .dropdownBody {
        text-align: center;
        background-color: $secondary-color;
        border: 2px solid $primary-color;
        border-top: 0;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        display: block;
        position: absolute;
        left: 0;
        width: 170px;

        label {
            display: block;
            padding: 6px 0;
            border-top: 1px solid $gray-borders;
            color: $primary-color;
            margin: 0;
            cursor: pointer;
            font-size: $font-size;

            &:hover {
                background-color: $intermediate-color;
                color: $secondary-color;
                font-style: italic;
            }
        }
    }
}